* {
  text-align: center;
}

body {
  font-family: "Roboto Mono", arial;
  min-height: 400px;
  background-image: url("https://uhdwallpapers.org/uploads/converted/19/11/03/rainbow-six-siege-4k-ultra-hd-wallpaper-1024x1024_577955-mm-90.jpg");
  background-color: #111;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

table {
  border: 2px solid white;
  border-collapse: collapse;
}

h1 {
  color: white;
}

th,
tr,
td {
  border: solid 1px white;
  color: white;
}

button {
  background-color: #002351;
  color: #f6f6f6;
}
